@font-face {
    font-family: "Commissioner";
    src: url("../fonts/commissioner/Commissioner-Regular.eot");
    src: url("../fonts/commissioner/Commissioner-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/commissioner/Commissioner-Regular.woff") format("woff"),
    url("../fonts/commissioner/Commissioner-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Commissioner";
    src: url("../fonts/commissioner/Commissioner-Bold.eot");
    src: url("../fonts/commissioner/Commissioner-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/commissioner/Commissioner-Bold.woff") format("woff"),
    url("../fonts/commissioner/Commissioner-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
  